*{
    font-family: 'Calibri';
    font-size: 14px;
}
/*html
{
   padding: 5%;
    margin: 5%;
}*/
.container-login{
    height: 350px;
    width: 500px;
    margin:107px auto 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 3px;
    border: none;
    color: #494848;
    padding: 20px;

}
.container-login > form > .form-item {
    margin: 10px;
    width: 100%;
}
.container-login > form> .form-item> input {
    border: 1px solid #494848;
    width: 100%;
    outline: none;
    border-radius: 3px;
    padding: 5px;
   

}
.container-login>form{
    width: 70%;
}
.container-login > form> .form-item>input[type='submit'] {
    border: 2px solid #3AD8ED;
    border-radius: 4px;
    margin: 0 auto;
    width: 100%;
    color: #494848;
    background-color: white;

}
.container-login > form> .form-item>input[type='submit']:hover {
   background-color: #3AD8ED;
   color: white;

}
.container-login >.title {
    color: #3AD8ED;
    font-size: 30px;
    font-family: 'LitSans Medium';
}
.card-admin
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 30px;
    width: 200px;
    height: 210px;
    background-color: #3AD8ED;
    color: #ffffff;
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    font-family: LitSans Medium;
    border-radius: 10px;
    padding: 10px;
}


.card-admin>img{
    margin-bottom: 15px;
    width: 50px;
}
.container-categ{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.article-container{
    height: 600px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    border-radius: 4px;
    margin: 40px auto 0;
    color: #494848;
    background-color: white;

}
.article-container >h2 {
    color: #3AD8ED;
    font-size: 30px;
    text-align: center;
    font-family: 'LitSans Medium';
}
.menu{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1;
   
}
.menu ul {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    align-items: center;
 }
.menu li{
    display: block;
    list-style-type: none;
    padding: 20px;
    font-size: 17px;
    margin: 0px 10px 0px 0px;
    width: 200px;
    text-align: center;
    background-color: #494848;
}
.menu li > a{
    text-decoration: none;
    color: white;
}
.menu li:hover{
    background-color: #3AD8ED;
 
}
.list-item{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    color: white;
    margin-top: 1em !important;
    display: none;
    margin-left: -20px !important;
    width: 200px !important;

}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
.slide-img{
    height: 500%;
    width: 100%;
}
.slider{
 
    animation: slide-animation 30s infinite ;
}
/*.slider:hover {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;  
}*/

.slides{
    height: 500px;
    width: 70%;
    margin: 30px auto 0;
    margin-bottom:30px  !important;
    overflow: hidden;
   /* background-color: #d7dedf;*/
}

@keyframes slide-animation
{
   0%{
       transform: translateY(0);
   }
   33.33%{
    transform: translateY(-600px);
   }
   66.67%{
    transform: translateY(-1850px);
   }
   100%{
    transform: translateY(0);
   }
}
.card-article
{
    display: inline-table;
    text-align: center;
    margin: 20px 20px;
    width: 220px;
    height: 300px;
    background-color: #d7dedf;
    color: #494848;
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    font-family: LitSans Medium;
    border-radius: 10px;
    padding: 10px;
}