*{
    font-family: 'Calibri';
    font-size: 14px;
}

.container-login{
    height: 350px;
    width: 500px;
    margin:107px auto 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 3px;
    border: none;
    color: #494848;
    padding: 20px;

}
.container-login > form > .form-item {
    margin: 10px;
    width: 100%;
}
.container-login > form> .form-item> input {
    border: 1px solid #494848;
    width: 100%;
    outline: none;
    border-radius: 3px;
    padding: 5px;
   

}
.container-login>form{
    width: 70%;
}
.container-login > form> .form-item>input[type='submit'] {
    border: 2px solid #3AD8ED;
    border-radius: 4px;
    margin: 0 auto;
    width: 100%;
    color: #494848;
    background-color: white;

}
.container-login > form> .form-item>input[type='submit']:hover {
   background-color: #3AD8ED;
   color: white;

}
.container-login >.title {
    color: #3AD8ED;
    font-size: 30px;
    font-family: 'LitSans Medium';
}
.card-admin
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 30px;
    width: 200px;
    height: 210px;
    background-color: #3AD8ED;
    color: #ffffff;
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    font-family: LitSans Medium;
    border-radius: 10px;
    padding: 10px;
}

.card-admin>img{
    margin-bottom: 15px;
    width: 50px;
}
.container-categ{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.article-container{
    height: 600px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    border-radius: 4px;
    margin: 40px auto 0;
    color: #494848;
    background-color: white;

}
.article-container >h2 {
    color: #3AD8ED;
    font-size: 30px;
    text-align: center;
    font-family: 'LitSans Medium';
}
